.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 14px;
}

.errorMessage {
  display: block;
  color: red;
  font-size: 10px;
  height: 30px;
  line-height: 30px;
}