.metadata {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color: #a9a9a9;
  align-items: center;
}

.metadata .item {
  margin-right: 10px;
}

.text {
  font-size: 14px;
  line-height: 18px;
  margin-top: 20px;
}

.container {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #efefef
}

.rating {
  font-size: 10px;
  margin-right: 0
}